<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
<header th:replace="~{fragments/layout.html :: header}">
</header>
<div class="d-flex flex-row justify-content-center align-items-center" style="height:48rem;">
    <div class="d-flex flex-column justify-content-start bg-light px-2 py-2" style="border-radius:10px;">
        <div>
            <img th:src="@{'/images/' + ${imageEntry.fileName}}" style="height:42rem;">
            <h4 class="text-dark px-2" th:text="${imageEntry.title}"></h4>
        </div>
        <div class="d-flex justify-content-start">
            <div th:object="${ImageEntryEntity}">
                <a class="btn btn-lg my-2 mx-1" style="background-color:#2bdb9d;font-size:20px;" th:href="@{'/updateImage/' + *{imageId}}">Edit</a>
            </div>
            <form method="post" th:action="@{'/deleteImage/' + ${ImageEntryEntity.imageId}}">
                <button type="submit" class="btn btn-lg my-2 mx-1" style="background-color:#2bdb9d;font-size:20px;">Delete</button>
            </form>
            <form method="post" th:action="@{'/likeImage/' + ${ImageEntryEntity.imageId}}">
                <button type="submit" class="btn btn-lg my-2 mx-1" style="background-color:#2bdb9d;font-size:20px;">Like</button>
            </form>
            <div th:object="${ImageEntryEntity}">
                <a class="btn btn-lg my-2 mx-1" style="background-color:#2bdb9d;font-size:20px;" th:href="@{'/report/' + *{imageId}}">Report</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>