<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
<header th:replace="~{fragments/layout.html :: header}">
</header>
<div class="d-flex flex-row justify-content-center" style="height:52rem;">
    <div class="d-flex flex-column justify-content-start bg-light px-2 py-2" style="border-radius:10px;">
        <div>
            <img th:src="${path}" style="height:42rem;">
            <h4 class="text-dark px-2" th:text="${title}"></h4>
        </div>
        <div class="d-flex justify-content-start flex-wrap px-2" th:text="${imageTags}">
        </div>
        <div th:if="${userId} == ${imageUserId}">
            <a class="btn btn-lg" style="background-color:#2bdb9d;font-size:20px;" th:if="${TagImageType} == 'CHARACTER'" th:href="@{}">Edit</a>
            <a class="btn btn-lg" style="background-color:#2bdb9d;font-size:20px;" th:if="${TagImageType} == 'SCENERY'" th:href="@{}">Edit</a>
        </div>
    </div>
</div>
</body>
</html>