<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
<header th:replace="~{fragments/layout.html :: header}">
</header>
<div class="d-flex flex-row justify-content-center align-items-center" style="height:48rem;">
    <div class="d-flex flex-column justify-content-start bg-light px-2 py-2" style="border-radius:10px;">
        <div>
            <img th:src="@{'/images/' + ${imageEntry.fileName}}" style="height:42rem;">
            <h4 class="text-dark px-2" th:text="${imageEntry.title}"></h4>
        </div>
    </div>
</div>
</body>
</html>