<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
    <header th:replace="~{fragments/layout.html :: header}">
    </header>
    <div class="mx-3 my-2 d-flex flex-row row-wrap">
        <div class="mx-2 my-2" th:each="imageEntry: ${imageEntries}">
            <a href="#" class="card d-flex flex-column justify-content-end" style="width:16rem; height:24rem; ">
                <img class="card-img-top" th:src="${imageEntry.path}" style="object-fit: cover; height: 100%; width 100%;">
                <p class="card-title h6 text-dark mx-2" th:text="${imageEntry.title}" style="text-decoration:none;"></p>
            </a>
        </div>
    </div>

</body>
</html>