<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
  <header th:replace="~{fragments/layout.html :: header}">
  </header>
  <div class="d-flex justify-content-center">
    <div class="col-5">
      <form method="post" th:action="@{/createCharacter}" th:object="${ImageEntryDTO}" enctype="multipart/form-data">
        <div class="col-12 mx-2 my-3">
          <label class="text-light" for="title">Title:</label>
          <input class="form-control form-control-lg" id="title" type="text" th:field="*{title}">
        </div>
        <div class="col-12 mx-2 my-3">
          <label class="text-light" for="image">Path:</label>
          <input class="form-control form-control-lg" id="image" name="image" type="file" accept="image/jpeg, image/png">
        </div>
        <div class="invisible" style="height:0px;">
          <input type="text" id="Character" th:field="*{TagDTO.tagCharacterNumber}">
          <input type="text" id="Shape" th:field="*{TagDTO.tagCharacterShape}">
          <input type="text" id="Type" th:field="*{TagDTO.tagCharacterType}">
          <input type="text" id="Pose" th:field="*{TagDTO.tagCharacterPose}">
          <input type="text" id="Clothing" th:field="*{TagDTO.tagCharacterClothing}">
          <input type="text" id="Color" th:field="*{TagDTO.tagNeutralColor}">
          <input type="text" id="Saturation" th:field="*{TagDTO.tagNeutralSaturation}">
        </div>
        <button type="submit" class="btn btn-lg col-10" style="background-color:#2bdb9d;font-size:20px;position:fixed;bottom:0;">Create</button>
      </form>
      <div class="col-12 mx-2">
        <label class="text-light" for="tags">Tags:</label>
        <input class="form-control form-control-lg" id="tags" type="text" list="datalist" onkeyup="predictCharacter(this.value)">
        <button class="btn btn-lg my-2" style="background-color:#2bdb9d;font-size:20px;" onclick="addTag()">Add tag</button>
      </div>
      <datalist id="datalist">
      </datalist>
    </div>
    <div id="taglist" class="mx-4 d-flex flex-wrap col-5" style="height:2.5rem;"></div>
  </div>
<script src="/script.js"></script>
</body>
</html>