<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">
</head>
<body class="bg-dark">
  <header th:replace="~{fragments/layout.html :: header}">
  </header>
  <form class="d-flex flex-wrap" method="post" th:action="@{/uploadCharacter}">
    <div class="col-5 mx-2">
      <label class="text-light" for="title">Title:</label>
      <input class="form-control form-control-lg" id="title" type="text">
    </div>
    <div class="col-5 mx-2">
      <label class="text-light" for="path">Path:</label>
      <input class="form-control form-control-lg" id="path" type="url">
    </div>
    <div class="invisible">
      <input type="text" id="Character">
      <input type="text" id="Shape">>
      <input type="text" id="Type">>
      <input type="text" id="Pose">>
      <input type="text" id="Clothing">>
      <input type="text" id="Color">>
      <input type="text" id="Saturation">>
    </div>
    <button type="submit" class="btn btn-lg col-12" style="background-color:#2bdb9d;font-size:20px;position:fixed;bottom:0;">Create</button>
  </form>
  <div class="col-5 mx-2">
    <label class="text-light" for="tags">Tags:</label>
    <input class="form-control form-control-lg" id="tags" type="text" list="datalist" onkeyup="predictCharacter(this.value)">
    <button class="btn btn-lg my-2" style="background-color:#2bdb9d;font-size:20px;" onclick="addTag()">Add tag</button>
  </div>
  <datalist id="datalist">
  </datalist>
  <div id="taglist"></div>
<script src="script.js"></script>
</body>
</html>